.section-content .programAdd {
    justify-content: space-between;
    box-sizing: border-box;
    display: inline-block;
}

.section-content .c1 {
    background: #000;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 70px;
}

.section-content .c1 p {
    color: grey;
}

.section-content .c1 li {
    list-style-type: none;
    margin-bottom: 5px;
}

.section-content .c1 input {
    height: 50px;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 48, 48);
    width: 350px;
    padding-left: 5px;
    border-radius: 5px;
}

.section-content .c1 span {
    font-size: 2rem;
    color: antiquewhite;
    margin-left: 5px;
}

.section-content .c1 img {
    margin-bottom: 15px;
}

.section-content .c1 p {
    font-size: 0.7rem;
}

.section-content .c2 {
    padding-top: 30px;
    background: rgb(36, 36, 36);
}

.section-content .c2 li {
    list-style-type: none;
    margin-bottom: 5px;
}

.section-content .c2 .text {
    height: 250px;
    width: 650px;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 48, 48);
    padding-left: 5px;
    border-radius: 5px;
}

.section-content .c2 .news {
    height: 200px;
    width: 650px;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 48, 48);
    padding-left: 5px;
    border-radius: 5px;
}

.section-content .c2 input {
    height: 50px;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 48, 48);
    width: 350px;
    padding-left: 5px;
    border-radius: 5px;
}

.section-content .c2 .inputNum {
    height: 50px;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
    color: rgb(48, 48, 48);
    width: 50px;
    padding-left: 5px;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
}

.section-content .c2 .selcetType {
    width: 150px;
    height: 50px;
    margin-left: 5px;
    border-radius: 5px;
    color: rgb(48, 48, 48);
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
}

.section-content .c1 .selcetType {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: rgb(48, 48, 48);
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
}

.section-content .c2 .btnDel {
    margin-left: 25px;
}

.section-content .c2 .btnEdit {
    margin-left: 10px;
}

.section-content .c2 .btnAdd {
    margin-left: 0px;
}

.section-login .login-form {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    margin-top: 200px;
}

.section-login .login-form input {
    width: 250px;
    margin-bottom: 10px;
    height: 50px;
    background-color: white;
    padding-left: 2px;
    margin-left: 5px;
}

.section-login .login-form button {
    position: relative;
    height: 35px;
    background-color: white;
    width: 80px;
    left: 230px;
}

.section-login .login-form ul {
    list-style: none;
}

.home-head .card h5 {
    position: absolute;
    margin-top: -65px;
    margin-left: 90px;
}

.home-head .card p {
    position: absolute;
    margin-top: -30px;
    margin-left: 90px;
    font-size: 1.3rem;
    font-weight: 600;
}

.home-head .card .load {
    position: absolute;
    margin-top: 7.5px;
    margin-left: 10px;
}

.home-head .card button {
    width: 75px;
    height: 75px;
}

.home-head .card img {
    width: 35px;
    height: 35px;
    margin-left: -25px;
}

.home-head .card .isub {
    position: absolute;
    white-space: nowrap;
    top: 20px;
    width: 200px;
    margin-left: 20px;
    overflow: hidden;
}

.home-head .card .num {
    position: absolute;
    margin-left: 242px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: -25px;
}

.home-head .more {
    width: 100%;
}

.home-head .card .none-link {
    color: rgb(26, 26, 26);
}

.count {
    display: none;
}

.home-head .card .prosub {
    position: absolute;
    white-space: nowrap;
    top: 20px;
    width: 280px;
    margin-left: 20px;
    overflow: hidden;
}

.home-head .card .numPro {
    position: absolute;
    margin-left: 85%;
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
}

.home-head .card .carPro {
    position: absolute;
    margin-left: 70%;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: -23px;
    font-family: "Roboto", sans-serif;
}

.home-head .card .typePro {
    position: absolute;
    margin-left: 45%;
    font-size: 0.6rem;
    font-weight: 600;
    margin-top: -22px;
    font-family: "Roboto", sans-serif;
}

.home-head .card .delPro {
    position: absolute;
    margin-left: 95%;
    font-size: 0.6rem;
    font-weight: 600;
    margin-top: -22px;
    z-index: 1;
}

.home-head .card .delPro i:hover {
    transform: scale(1.5);
}

.home-head .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-head .side-bar .card h6 {
    display: flex;
    padding-right: 100px;
}

.home-head .side-bar .card .category {
    margin-top: 40px;
    margin-left: -90px;
    padding-bottom: 15px;
    z-index: -1;
}

.home-head .side-bar .card .category p {
    position: relative;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.home-head .side-bar .card .category a {
    margin-left: 5px;
}

.home-head .card .prosub-side {
    position: absolute;
    white-space: nowrap;
    top: 20px;
    width: 120px;
    margin-left: 20px;
    overflow: hidden;
}

.home-head .card .carPro-side {
    position: absolute;
    margin-left: 55%;
    font-size: 0.6rem;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
}

.home-head .card .numPro-side {
    position: absolute;
    margin-left: 80%;
    font-size: 0.5rem;
    font-weight: 300;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
}

.home-head .card .numPro-side sub {
    font-size: 0.7rem;
    font-weight: 600;
}

.home-head .card-hit {
    margin-top: 15px;
}

.home-head .card .icon-type {
    position: absolute;
    margin-left: -25px;
    margin-top: 15px;
}

.home-head .create {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: -75px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

.home-head .create:hover {
    transform: scale(1.5);
}

.home-head .card .Linklist {
    font-size: 0.7rem;
    margin-left: 15px;
    margin-top: -40px;
}

.home-head .card .Linklist:hover {
    transform: scale(1.5);
}

.home-head .card .id-game {
    position: absolute;
    margin-left: -55px;
    font-size: 0.6rem;
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
    color: gray;
}

.home-head .card .article-num {
    position: absolute;
    right: 20px;
    font-size: 0.7rem;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
}

.home-head .card .desktop {
    position: absolute;
    margin-left: 82%;
    font-weight: 600;
    font-size: 0.7rem;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
    color: rgb(77, 77, 77);
}

.home-head .card .desktop:hover {
    transform: scale(1.5);
}
