html,
body {
    width: 100%;
}

.section-content .btnAdd {
    margin-top: 35px;
    margin-bottom: -5px;
    top: 120px;
    margin-left: 100px;
}

.section-content .btnDelete {
    margin-left: -35px;
    margin-top: 50px;
    z-index: 100;
}

.section-content .viewdownload {
    height: 100%;
    display: table;
    margin: 0 auto;
}

.section-content .viewdownload span {
    font-weight: 800;
    font-size: 3.5rem;
}

.section-content .viewdownload p {
    position: absolute;
    color: rgb(146, 146, 146);
    display: inline;
}

.section-content .cont2 .program-list {
    margin-top: 60px;
}

.section-content .cont2 .program-list .paginationBox li {
    color: #2085f1;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.section-content .cont2 .program-list .paginationBox2 {
    display: table;
    margin: 0 auto;
}

.section-content .cont2 .program-list .paginationBox2 li {
    color: #2085f1;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

.section-content .cont2 .program-list .btn-program {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 17.5px;
}

.section-content .cont2 .program-list .btn-program button {
    font-size: 1.2rem;
    border-width: 0px;
    background: white;
    width: 65%;
    border-radius: 10px;
    color: rgb(92, 92, 92);
    font-family: "Roboto", sans-serif;
}

.section-content .cont2 .program-list .program-content {
    margin-bottom: 0px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 1.5px;
    border-bottom: 1px;
    overflow: hidden;
}

.section-content .cont2 .program-list .program-list-content {
    justify-content: space-betweens;
    box-sizing: border-box;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -15px;
    margin-right: -30px;
    height: 120px;
    width: 100%;
}

.section-content .cont2 .program-list .program-list-content .program-list-text {
    padding-left: 20%;
    margin-bottom: 0px;
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: rgb(107, 107, 107);
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    i {
    font-weight: 500;
    font-size: 0.75rem;
    position: absolute;
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    .pin {
    font-weight: 500;
    font-size: 0.75rem;
    position: absolute;
    margin-left: 100px;
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    sub {
    margin-left: 5px;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(107, 107, 107);
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    button {
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.section-content .cont2 .program-list .program-list-content .category-item {
    background: #000;
    position: absolute;
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-image {
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    top: 0.5px;
    padding-top: -20px;
    position: absolute;
    margin-bottom: 0px;
}

.section-content
    .cont2
    .program-list
    .program-list-content
    .program-list-image
    img {
    margin-left: -20px;
    height: 120px;
    width: 120px;
    top: 0.5px;
}

.section-content .program-list .program-list-content span {
    color: rgb(92, 92, 92);
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.section-content .program-list .program-list-content p .program-list-image {
    color: rgb(92, 91, 91);
    font-size: 0.8rem;
    padding-top: 2.5px;
    font-family: "Roboto", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section-content
    .program-list
    .program-list-content:hover
    .program-list-image
    img {
    transform: scale(1.05);
}

.section-content .program-list .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content .cetagories-list {
    margin-top: 44px;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
}

.section-content .cetagories-list .cate-list-item {
    border: 5px;
}

.section-content .cetagories-list a {
    height: 50px;
    color: gray;
}

.section-content .cetagories-list a:hover {
    text-decoration: none;
}

.section-content .cetagories-list .choose {
    background: #d7d4da;
    color: white;
}

.section-slid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-slid .slid .carousel-crad {
    margin-top: 20px;
    margin-bottom: 25px;
    height: 100px;
    width: 250px;
    justify-content: space-between;
    border-radius: 5px;
}

.section-slid .slid .carousel-crad img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.section-slid .slid .carousel-crad .gard-content p {
    width: 120px;
    font-weight: 0.5rem;
    position: absolute;
    margin-top: -90px;
    left: 45%;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    margin-left: 5px;
    color: rgb(92, 91, 91);
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.section-slid .slid .carousel-crad .gard-image {
    left: -15px;
}

.section-slid .slid .carousel-crad span {
    width: 100px;
    background: rgb(74, 161, 74);
    font-weight: 1rem;
    font-size: 0.9rem;
    color: white;
    position: absolute;
    margin-top: 0;
    padding-left: 5px;
    left: 15px;
    bottom: -21px;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
}

.section-slid .slid .carousel-crad:hover span {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 260px;
    overflow: hidden;
    align-content: center;
    margin-left: -5px;
    text-align: center;
}

.section-slid .slid .carousel-crad:hover img {
    transform: scale(1.1);
}

.list-group {
    margin-top: 5px;
}

.list-more {
    padding-top: 37px;
}

.list-more .label-group {
    top: -5px;
    color: rgb(95, 95, 95);
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}

.label-games {
    color: rgb(95, 95, 95);
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0px;
    padding-bottom: 15px;
}

.list-more .list-group img {
    margin-left: -10px;
    margin-right: 25px;
    height: 50px;
    width: 50px;
}

.list-more .list-group span {
    color: rgb(92, 92, 92);
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.list-more .list-group p {
    color: rgb(92, 91, 91);
    font-size: 0.8rem;
    padding-top: 2.5px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.list-more .list-group .list-content {
    justify-content: space-betweens;
    box-sizing: border-box;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -15px;
    margin-right: -30px;
    height: 80px;
}

.list-more .list-group .list-content .list-text {
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    margin-left: 18.5%;
    padding-right: 10%;
    margin-bottom: 0px;
}

.list-more .list-group .list-content .list-image {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 0;
    position: absolute;
    margin-bottom: 0px;
    left: 0;
}

.list-more .list-group .list-content .list-text span {
    width: 80%;
    position: absolute;
}

.list-more .list-group .list-content .list-text p {
    margin-top: 15px;
}

.list-more-content {
    margin-bottom: 0px;
    height: 70px;
    overflow: hidden;
}

.list-more-content .list-text {
    left: -30px;
}

.label-last {
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    top: 33px;
    position: absolute;
}

.section-content .cont1 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: -20px;
}

.section-content .cont1 .label-cet {
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding-left: 20px;
    top: 15px;
    position: absolute;
}

.section-content .btn-more-game {
    right: 35px;
    margin-bottom: 200px;
    position: absolute;
    border-radius: 3px;
    bottom: 200px;
}

.section-content .list-games {
    margin-top: -10px;
    overflow: hidden;
    display: inline-block;
}

.section-content .games-gard {
    justify-content: space-between;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    height: 140px;
    width: 90px;
    background: white;
    border-radius: 0.5px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.section-content .games-gard .games-image {
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.02),
        0 0 0 1px rgba(90, 90, 90, 0.993),
        0.2em 0.2em 0.5em rgba(63, 63, 63, 0.1);
    height: 140px;
}

.section-content .games-gard .games-image img {
    display: inline-block;
    height: 140px;
    width: 90px;
}

.section-content .games-gard .games-image i {
    font-weight: 500;
    font-size: 0.75rem;
    color: grey;
    left: 2px;
    top: -22.5px;
    position: relative;
}

.section-content .games-gard:hover {
    transform: scale(1.05);
}

.section-content .list-games .label-group {
    color: rgb(95, 95, 95);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.section-content .list-games .game-content a {
    height: 300px;
}

.list-games {
    margin-bottom: 0px;
    height: 380px;
    overflow: hidden;
    border-width: 0px;
    margin-bottom: -1px;
    border-radius: 1.5px;
    border-width: 1px;
    display: inline-block;
}

.section-content .games-gard a {
    position: absolute;
    width: 90px;
    height: 150px;
}

.section-footer {
    margin-top: 15px;
}

.section-app .games-content .games-gard:hover {
    transform: scale(1.1);
}

.section-content .next-more {
    position: relative;
    padding-left: 85%;
    bottom: 0px;
    top: -25px;
}

.section-content .next-more i {
    color: gray;
    border-width: 0ex;
    font-size: 1rem;
}

.section-content .next-more i:hover {
    transform: scale(1.5);
}

.section-content .list-more .app-list {
    margin-top: 5px;
}

.section-content .program-list-more {
    margin-top: 5px;
}

.section-content .list-more .app-list a {
    border: 0.5px;
}

.section-content .program-list-more a {
    margin-bottom: -1px;
    border: 0.5px;
}

.section-content .program-detail {
    margin-top: 25px;
}

.section-content .program-detail .imgIcon {
    height: 75px;
    width: 75px;
}

.section-content .program-detail .img-content {
    height: 300px;
    width: 100%;
}

.section-content .program-detail .carousel {
    justify-content: space-between;
    top: 25px;
}

.section-content .program-detail .carousel-phone {
    display: none;
}

.section-content .program-detail h1 {
    font-size: 1.5rem;
    margin-left: 80px;
    font-family: "roboto", sans-serif;
    color: rgb(95, 95, 92);
    margin-top: -30px;
}

.section-content .program-detail p {
    margin-top: 15px;
    font-size: 0.9rem;
    margin-left: 0px;
    font-family: "roboto", sans-serif;
    color: rgb(92, 92, 92);
}

.section-content .program-detail .download {
    justify-content: space-between;
    position: relative;
    top: -340px;
    right: -500px;
    display: block;
    margin-top: 70px;
}

.section-content .program-detail i {
    margin-left: 5px;
}

.section-content .program-detail .download .download-info li {
    font-size: 0.8rem;
    color: rgb(92, 92, 92);
    font-family: "roboto", sans-serif;
    height: 35px;
    border: 10px;
}

.section-content .program-detail .download .download-info .fb-root {
    position: absolute;
    bottom: 0;
    margin-bottom: -50px;
}

.section-content .program-detail .prosame {
    font-size: 0.7rem;
    color: rgb(92, 92, 92);
    font-family: "roboto", sans-serif;
    padding-top: 15px;
    margin-bottom: -10px;
}

.section-content .navigation .navigation {
    position: relative;
    font-size: 0.7rem;
    font-family: "roboto", sans-serif;
    color: rgb(92, 92, 92);
    top: 20px;
    margin-left: 40px;
}

.section-content .navigation .navigation a {
    color: rgb(92, 92, 92);
}

.section-content .program-crad {
    margin-top: 20px;
    margin-bottom: 25px;
    height: 100px;
    width: 240px;
    justify-content: space-between;
    border-radius: 5px;
    display: inline-block;
}

.section-content .program-crad img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.section-content .program-crad .gard-content p {
    width: 120px;
    font-weight: 0.5rem;
    position: absolute;
    margin-top: -90px;
    left: 45%;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;

    color: rgb(92, 91, 91);
    font-size: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.section-content .program-crad .gard-image {
    left: -15px;
}

.section-content .program-crad span {
    width: 100px;
    background: rgb(74, 161, 74);
    font-weight: 1rem;
    font-size: 0.9rem;
    color: white;
    position: absolute;
    margin-top: 0;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    margin-left: -100px;
    bottom: 0px;
}

.section-content .program-crad:hover span {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 250px;
    overflow: hidden;
    align-content: center;
    margin-left: -5px;
    text-align: center;
    bottom: -7px;
}

.section-content .program-crad:hover img {
    transform: scale(1.1);
}

.section-content .release-program {
    justify-content: space-between;
    width: 100%;
    height: 150px;
    overflow: auto;
    display: inline-block;
}

.section-content .what-new {
    position: relative;
    top: 0px;
    overflow: hidden;
    margin-top: -200px;
}

.section-content .what-new .new {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: rgb(95, 95, 92);
}

.section-content .what-new p {
    font-size: 0.8rem;
    font-family: "roboto", sans-serif;
    margin-top: 5px;
}

.section-content .tags h3 {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: rgb(95, 95, 92);
    margin-top: 0px;
    position: absolute;
}

.section-content .tags p {
    font-size: 0.8rem;
    font-family: "roboto", sans-serif;
    margin-left: 30px;
    margin-top: 10px;
}

.section-content .tags a {
    background: rgb(255, 254, 254);
    margin-left: 5px;
}

.section-content .modal-hide {
    display: none;
}

.section-content .programPhone {
    display: none;
}

.section-content .create {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    position: fixed;
    margin-left: 10px;
    z-index: 999;
    padding-top: 15px;
    display: none;
}

@media (max-width: 1000px) {
    .section-content .program-detail .download {
        justify-content: space-between;
        position: static;
        top: -300px;
        right: -500px;
        display: inline-block;
    }
    .section-content .dummy {
        display: none;
    }
    .section-content .what-new {
        margin-top: 20px;
    }
    .section-content .program-detail sub {
        padding-top: 500px;
    }
}

@media (max-width: 780px) {
    .section-content .cont1 {
        display: none;
    }
    .section-content
        .cont2
        .program-list
        .program-list-content
        .program-list-image
        img {
        margin-left: -15px;
        height: 70px;
        width: 70px;
        top: 0.5px;
    }
    .section-content .modal-hide {
        display: block;
        position: fixed;
        top: 50px;
        width: 100px;
    }
    .section-content .create {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-items: center;
        position: fixed;
        margin-left: 15px;
        padding-left: 15px;
        z-index: 999;
        padding-top: 10px;
    }
    .section-content .navigation .navigation {
        position: relative;
        font-size: 0.7rem;
        font-family: "roboto", sans-serif;
        color: rgb(92, 92, 92);
        top: 10px;
        margin-left: 0px;
    }
}

@media (max-width: 760px) {
    .section-content .list-more {
        width: 400px;
    }
    .section-content .program-detail .download .download-info li {
        width: 200px;
    }
    .ramdom-show {
        display: none;
    }
    .section-pro-app .cont1,
    .section-pro-app .cont4 {
        display: none;
    }
    .section-content .program-detail .carousel-phone {
        display: block;
    }
    .section-content .program-detail .carousel-desktop {
        display: none;
    }
}

@media (max-width: 600px) {
    .section-content .phone-hide {
        display: none;
    }
    .section-content .more {
        display: none;
    }
    .section-content .programPhone {
        display: block;
    }
    .section-content .programDesktop {
        display: none;
    }
    .section-slid {
        display: none;
    }
    .section-content
        .cont2
        .program-list
        .program-list-content
        .program-list-image
        img {
        margin-left: -15px;
        height: 75px;
        width: 75px;
        top: 0.5px;
    }
    .section-content {
        margin-left: 10px;
    }
}

@media (max-height: 415px) {
    .section-slid {
        display: none;
    }
    .section-content .dummy {
        display: none;
    }
    .section-content .phone-hide {
        display: none;
    }
    .section-content .cont1 {
        display: none;
    }
    .section-content .create {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-items: center;
        position: fixed;
        margin-left: 15px;
        padding-left: 15px;
        z-index: 999;
        padding-top: 10px;
    }
    .section-content .programPhone {
        display: block;
        margin-left: 30px;
    }
    .section-content .programDesktop {
        display: none;
    }
}
