.list-group {
    margin-top: 5px;
}

.list-items {
    margin-top: 30px;
}

.list-items .label-group {
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.list-items .list-group img {
    margin-left: -10px;
    margin-right: 25px;
    height: 50px;
    width: 50px;
}

.list-items .list-group span {
    color: rgb(92, 92, 92);
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.list-items .list-group p {
    color: rgb(92, 91, 91);
    font-size: 0.8rem;
    padding-top: 2.5px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.list-items .list-group .list-content {
    justify-content: space-betweens;
    box-sizing: border-box;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -15px;
    margin-right: -30px;
    height: 80px;
    overflow: hidden;
}

.list-items .list-group .list-content .list-text {
    box-sizing: border-box;
    display: inline-block;
    width: 75%;
    margin-left: 50px;
    margin-bottom: 0px;
}

.list-items .list-group .list-content .list-image {
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    margin-top: 0;
    position: absolute;
    margin-bottom: 0px;
}

.list-items .list-group .list-content .list-text span {
    width: 70%;
    position: absolute;
}

.list-items .list-group .list-content .list-text p {
    margin-top: 20px;
}

.list-items a {
    margin-bottom: -1px;
}

.list-group-item {
    margin-bottom: 0px;
    height: 90px;
    overflow: hidden;
}

.btn-more {
    margin-top: 20px;
    margin-left: 85px;
    top: 50%;
    right: 50px;
    font-weight: 300;
    font-size: 0.9rem;
    width: 100px;
    font-family: "Roboto", sans-serif;
}

.section-pro-app {
    margin-top: 50px;
    width: 100%;
    padding-bottom: 70px;
}

.section-pro-app .cont1 .cetagories-list {
    padding-top: 65px;
    position: absolute;
    width: 85%;
    border-radius: 0px;
}

.section-pro-app .cont1 .cetagories-list a {
    padding-left: 12px;
    height: 50px;
    top: 0px;
    margin-bottom: -1px;
    border-width: 0px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
}

.section-pro-app .cont1 .cetagories-list a:hover {
    font-weight: bold;
}

.section-pro-app .cont1 .cetagories-label {
    background: none;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 70%;
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    left: 25px;
    top: 40px;
}

.section-pro-app .cont4 .games-list {
    padding-top: 65px;
    position: absolute;
    width: 87%;
    border-radius: 0px;
    padding-left: 5px;
}

.section-pro-app .cont4 .games-list a {
    padding-left: 12px;
    height: 50px;
    top: 0px;
    border-width: 0px;
    margin-bottom: -1px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
}

.section-pro-app .cont4 .games-list a:hover {
    font-weight: bold;
}

.section-pro-app .cont4 .games-label {
    background: none;
    border: none;
    border-radius: 5px;
    width: 100px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 100%;
    top: 40px;
    left: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(107, 107, 107);
    font-weight: 600;
}

.section-pro-app .cont2 .program-list .program-lists {
    padding-top: 40px;
}

.section-pro-app .cont2 .program-list {
    border-width: medium;
    border-color: black;
}

.section-pro-app .cont2 .program-list .btn-program {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 17.5px;
    left: 5px;
    position: relative;
}

.section-pro-app .cont2 .program-list .btn-program button {
    font-size: 0.9rem;
    border-width: 0px;
    background: white;
    width: 65%;
    border-radius: 10px;
    color: rgb(107, 107, 107);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    left: -75px;
    position: absolute;
}

.section-pro-app .cont2 .program-list .program-content {
    margin-bottom: 0px;
    height: 120px;
    overflow: hidden;
    border-width: 0px;
    margin-bottom: -1px;
    border-radius: 1.5px;
    border-width: 1px;
}

.section-pro-app .cont2 .program-list .program-list-content {
    justify-content: space-betweens;
    box-sizing: border-box;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -15px;
    margin-right: -30px;
    height: 120px;
    width: 100%;
}

.section-pro-app .cont2 .program-list .program-list-content .program-list-text {
    padding-left: 22%;
    margin-bottom: 0px;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    i {
    font-weight: 500;
    font-size: 0.75rem;
    position: absolute;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    .pin {
    font-weight: 500;
    font-size: 0.75rem;
    position: absolute;
    margin-left: 90px;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    sub {
    margin-left: 5px;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(107, 107, 107);
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    button {
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    span {
    width: 70%;
    position: absolute;
    margin-top: 10px;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    p {
    padding-top: 35px;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-text
    .hide {
    display: none;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-image {
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    top: 17.5px;
    position: absolute;
    margin-bottom: 0px;
    left: 29px;
}

.section-pro-app
    .cont2
    .program-list
    .program-list-content
    .program-list-image
    img {
    margin-left: -20px;
    height: 80px;
    width: 80px;
    top: 0.5px;
}

.section-pro-app .cont3 .games-list .games-list-group {
    padding-top: 40px;
}

.section-pro-app .cont3 .games-list .btn-games {
    margin-top: 25px;
    left: 35px;
    margin-bottom: 17.5px;
    text-align: center;
    position: relative;
}

.section-pro-app .cont3 .games-list .btn-games button {
    font-size: 0.9rem;
    border-width: 0px;
    background: white;
    width: 65%;
    border-radius: 10px;
    color: rgb(107, 107, 107);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    position: absolute;
    left: -90px;
}

.section-pro-app .cont3 .games-list .games-content {
    margin-bottom: 0px;
    height: 120px;
    overflow: hidden;
    border-width: 0px;
    margin-bottom: -1px;
    border-radius: 1.5px;
    border-width: 1px;
}

.section-pro-app .cont3 .games-list .games-list-content {
    justify-content: space-betweens;
    box-sizing: border-box;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -15px;
    margin-right: -30px;
    height: 150px;
    width: 100%;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text {
    padding-left: 22%;
    margin-bottom: 0px;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text i {
    font-weight: 500;
    font-size: 0.75rem;
    position: absolute;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text .pin {
    font-weight: 500;
    font-size: 0.75rem;
    position: absolute;
    margin-left: 90px;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text sub {
    margin-left: 5px;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(107, 107, 107);
}

.section-pro-app
    .cont3
    .games-list
    .games-list-content
    .games-list-text
    button {
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text span {
    width: 70%;
    position: absolute;
    margin-top: 10px;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text p {
    padding-top: 35px;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-text .hide {
    display: none;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-image {
    left: 30px;
    margin-top: 10px;
    position: absolute;
    margin-bottom: 0px;
}

.section-pro-app .cont3 .games-list .games-list-content .games-list-image img {
    margin-left: -20px;
    height: 80px;
    width: 80px;
    top: -10px;
}

.section-pro-app .cont3 .games-btn-more {
    position: absolute;
    margin-left: 75px;
    margin-top: 0px;
}

.section-pro-app .cont2 .program-btn-more {
    position: absolute;
    margin-left: 75px;
    margin-top: 0px;
}

.section-app {
    margin-top: 50px;
    padding-bottom: 0px;
}

.section-app .games-content {
    text-align: center;
    margin-top: 30px;
    z-index: 1;
}

.section-app .games-content .games-gard {
    justify-content: space-betweens;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    height: 200px;
    width: 150px;
    background: white;
    border-radius: 0.5px;
}

.section-app .games-content .games-gard .games-image {
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    top: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
    box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.02),
        0 0 0 1px rgba(90, 90, 90, 0.993),
        0.2em 0.2em 0.5em rgba(63, 63, 63, 0.1);
    height: 200px;
}

.section-app .games-content .games-gard .games-image img {
    display: inline-block;
    height: 200px;
    width: 150px;
}

.section-app .games-content .games-gard .games-image i {
    font-weight: 500;
    font-size: 0.75rem;
    color: grey;
    left: -35px;
    top: -22.5px;
    position: relative;
}

.section-app .games-content .games-gard:hover {
    transform: scale(1.1);
}

.section-app .games-content .next-more {
    position: relative;
    padding-left: 90%;
}

.section-app .games-content .next-more i {
    color: white;
    border-width: 30px;
    font-size: 3rem;
}

.section-app .games-content .next-more i:hover {
    transform: scale(1.5);
}

.section-app .games-content .label-game {
    color: white;
    text-align: left;
    padding-left: 40px;
}

.section-app .games-content .label-game h1 {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.section-pro-app .cont2 .program-list .btn-program .head {
    margin-left: -20%;
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
}

.section-pro-app .cont3 .games-list .btn-games .head {
    margin-left: -30%;
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
}

.section-app .animation-area {
    background: linear-gradient(to top, #141414, #067af6);
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.section-app .animation-area .box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}
.section-app .animation-area .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.section-app .animation-area .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.section-app .animation-area .box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.section-app .animation-area .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.section-app .animation-area .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.section-app .animation-area .box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.section-app .animation-area .box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 760px) {
    .section-pro-app .cont1,
    .section-pro-app .cont4 {
        display: none;
    }
    .section-pro-app
        .cont3
        .games-list
        .games-list-content
        .games-list-image
        img {
        margin-left: -25px;
        height: 40px;
        width: 40px;
        top: -35px;
    }
    .section-pro-app
        .cont2
        .program-list
        .program-list-content
        .program-list-image
        img {
        margin-left: -25px;
        height: 40px;
        width: 40px;
        top: -35px;
    }
    .section-pro-app .cont2 .program-list .program-list-content button {
        width: 30px;
        font-size: smaller;
        font-size: 0.03rem;
    }
    .section-pro-app .cont3 .games-list .games-list-content button {
        width: 30px;
        font-size: smaller;
    }
    .section-pro-app .cont2 .program-list .program-list-content .load {
        display: none;
    }
    .section-pro-app .cont3 .games-list .games-list-content .load {
        display: none;
    }
}

@media (max-width: 760px) {
    .section-pro-app .cont2 .program-btn-more {
        position: absolute;
        margin-left: 0px;
        margin-top: 0px;
    }
    .section-pro-app .cont3 .games-btn-more {
        position: absolute;
        margin-left: 0px;
        margin-top: 0px;
    }
    .section-pro-app
        .cont3
        .games-list
        .games-list-content
        .games-list-text
        .pin {
        display: none;
    }
    .section-pro-app
        .cont2
        .program-list
        .program-list-content
        .program-list-text
        .pin {
        display: none;
    }
}

@media (max-width: 415px) {
    .section-pro-app .cont2 .program-btn-more {
        margin-top: 0px;
        margin-left: 15px;
    }
    .section-pro-app .cont3 .games-btn-more {
        margin-top: 0px;
        margin-left: 15px;
    }
    .btn-more {
        margin-top: 20px;
        margin-left: 120px;
        top: 50%;
        right: 50px;
        font-weight: 300;
        font-size: 0.9rem;
        width: 100px;
        font-family: "Roboto", sans-serif;
    }
    .section-pro-app .cont2 .program-list .btn-program button {
        margin-left: 70px;
    }

    .section-app .games-content .next-more {
        position: relative;
        padding-left: 75%;
    }
    .section-pro-app .cont2 .program-list .btn-program .head {
        margin-left: -50%;
    }

    .section-pro-app .cont2 .program-list {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-pro-app
        .cont2
        .program-list
        .program-lists
        .program-content
        .program-list-content
        .program-list-image {
        margin-left: 20px;
    }

    .section-pro-app
        .cont3
        .games-list
        .games-list-group
        .games-content
        .games-list-content
        .games-list-image {
        margin-left: 20px;
    }

    .section-pro-app .cont3 .games-list {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-pro-app .cont3 .games-list .btn-games .head {
        margin-left: -60%;
    }
    .section-app {
        margin-left: -18px;
    }
}
